$total-columns: 8;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$wide-phone-break: 4;
$break: 10;
$base-line-height: 20px;

$red: #e46262;
$white: #fffefa;
$darker-white: #b3afaf;
$dark: #272735;

$light-brown: #6e5a41;
$brown: #2E200D;
$yellow: #E08100;
$light-green: #759751;
$green: #266337;
