$column: 4em;
$gutter: 1em;
$grid-padding: $gutter;
$base-line-height: 20px;

$columns-small: 4;
$columns-medium: 8;
$columns-large: 10;

$susy: (
  columns: $columns-small,
  gutters: $gutter / $column,
  column-width: $column
);

$breakpoint-medium: container($columns-medium static);
$breakpoint-large: container($columns-large static);

$red: #e46262;
$white: #fffefa;
$darker-white: #b3afaf;
$dark: #272735;

$light-brown: #6e5a41;
$brown: #2E200D;
$yellow: #E08100;
$light-green: #759751;
$green: #266337;

@mixin breakpoint-medium {
  @include susy-breakpoint($breakpoint-medium, $columns-medium) {
    @content;
  }
}

@mixin breakpoint-large {
  @include susy-breakpoint($breakpoint-large, $columns-large) {
    @content;
  }
}
